@font-face {
    font-family: "ArvoRegular";
    src: url("../fonts/ArvoRegular/ArvoRegular.eot");
    src: url("../fonts/ArvoRegular/ArvoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArvoRegular/ArvoRegular.woff") format("woff"),
    url("../fonts/ArvoRegular/ArvoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArvoBold";
    src: url("../fonts/ArvoBold/ArvoBold.eot");
    src: url("../fonts/ArvoBold/ArvoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArvoBold/ArvoBold.woff") format("woff"),
    url("../fonts/ArvoBold/ArvoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArvoItalic";
    src: url("../fonts/ArvoItalic/ArvoItalic.eot");
    src: url("../fonts/ArvoItalic/ArvoItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArvoItalic/ArvoItalic.woff") format("woff"),
    url("../fonts/ArvoItalic/ArvoItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArvoBoldItalic";
    src: url("../fonts/ArvoBoldItalic/ArvoBoldItalic.eot");
    src: url("../fonts/ArvoBoldItalic/ArvoBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArvoBoldItalic/ArvoBoldItalic.woff") format("woff"),
    url("../fonts/ArvoBoldItalic/ArvoBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}